@use 'var';

.navbar.navbar-top {
  a,
  span,
  input {
    color: var.$black;
    font-size: 12px;
    text-decoration: none;
  }
  a:hover {
    color: var.$grad;
  }

  i {
    font-size: 18px;
  }

  .search-form {
    input {
      width: 270px;
      border: 0;
    }
    input:focus {
      outline: 0;
    }
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-image: var.$grad;
    border-image-slice: 1;
  }
  .nav-item {
    i {
      cursor: pointer;
    }
  }
}
