@use 'var';
@use 'navbar';
@use 'logo-section';
@use 'heading';
@use 'collection';
@use 'gifts';
@use 'shops';
@use 'albums';
@use 'warranty';
@use 'footer';


body {
  background: #fff;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: var.$poppins;
  font-weight: 300;
  max-width: 1920px;
}
