@use 'var';

.benefits {
  height: 200px;
  background: var.$grad;

  .benefit-container {
    img {
      width: 80px;
    }

    .benefit-text {
      color: #fff;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 300;
      letter-spacing: 1.3px;
      margin-top: 20px;
      transition: 0.2s;
    }
    .benefit-text:hover {
      color: var.$peach2;
    }
    @media (max-width: 576px) {
      img {
        width: 60px;
      }
      .benefit-text {
        font-size: 0.75rem;
      }
    }
  }
}
