@use 'var';

.divider {
  height: 160px;
  background: var.$grad-rev;
  color: #fff;
  .num-container{
    i{
      font-size: 35px;
    }
    .counter{
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1.3px;
    }
    .counter-text{
      text-transform: lowercase;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
}
