@use 'var';

.gallery {
  .gallery-img {
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
  }
  .gallery-img:hover{
    opacity: 0.6;
    transition: 0.2s;
    transform: scale(1.05);
  }

  .gallery-title {
    font-family: var.$cinzel;
    color: var.$peach2;
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    .gallery-title {
      font-size: 3rem;
    }
  }
}
