@use 'var';

.jobs {
  .jobs-title {
    font-family: var.$cinzel;
    color: var.$peach2;
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    .jobs-title {
      font-size: 3rem;
    }
  }

  .jobs-link {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 1.3rem;
      color: var.$peach2;
      transition: 0.2s;
    }

    a:hover {
      color: var.$blue;
    }
  }

  .card {
    transition: 0.2s;
    .card-title {
      color: var.$peach3;
      font-weight: 600;
    }
    .card-text {
      color: var.$blue;
    }
    .card-date {
      color: var.$peach;
    }
  }

  .card:hover {
    cursor: pointer;
    background-color: var.$blue-tp;
    transition: 0.2s;
    .card-text {
      color: var.$peach;
    }
  }
  @media (min-width: 992px) {
    .card:hover {
      transform: scale(1.05);
    }
  }
}
