@use 'var';

header {
  height: 100vh;
  background-color: var.$peach;
  nav {
    background-color: var.$blue-tp;
    z-index: 1;

    @media (max-width: 992px) {
      .navbar-collapse {
        position: absolute;
        top: 118.5px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
        background-color: var.$blue-tp;
      }
      .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        left: 50%;
        transition: all 0.2s ease;
      }
      .navbar-collapse.show {
        left: 0;
      }
    }
    @media (max-width: 576px) {
      .navbar-collapse{
        top: 157.3px;
      }
    }
    .logo {
      width: 9rem;
    }
    .title {
      font-family: var.$cinzel;
      font-size: 1.2rem;
      color: var.$peach2;
      padding-bottom: 10px;
    }
    @media (min-width: 992px) {
      .title {
        font-size: 1.7rem;
        padding-bottom: 0;
      }
      .logo {
        width: 10rem;
      }
    }
    .navbar-toggler {
      color: var.$peach2;
      font-size: 2rem;
    }

    .menus {
      min-height: 6rem;
      max-width: 600px;
    }

    .main-menu {
      ul {
        li {
          .nav-link {
            color: #fff;
            text-decoration: none;
            transition: 0.2s;
            font-weight: 400;
            letter-spacing: 1.3px;
          }
          .nav-link:hover {
            color: var.$peach3;
          }
        }
      }
    }

    .top-menu {
      .form-control {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var.$peach;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
      }
      .form-control:focus {
        background-color: transparent;
        box-shadow: none;
      }
      .form-control::placeholder {
        color: var.$peach;
        opacity: 0.4;
      }

      i {
        color: var.$peach;
      }
    }
  }
}

header.story-page {
  background-color: #fff;
  height: auto;
}
