@use 'var';

header {
  height: 100vh;

  nav {
    background-color: var.$blue;
    opacity: 0.9;
    z-index: 1;

    .logo {
      width: 9.5rem;
    }
    .title {
      font-family: var.$cinzel;
      font-size: 1.6rem;
      color: var.$peach;
      /* width: 10rem; */
    }

    .menus {
      min-height: 6rem;
      max-width: 600px;
    }

    .main-menu {
      ul {
        li {
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
