@use 'var';

nav {
  background-color: var.$blue;

  .logo img {
    width: 13rem;
  }
  .title {
    font-family: var.$cinzel;
    font-size: 1.5rem;
    color: var.$peach;
    width: 10rem;
  }

  .menus{
    min-height: 10rem;
  }


  .main-menu {
    ul {
      li {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
