@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Raleway:wght@300;400;600&display=swap');

$cinzel: 'Cinzel Decorative', cursive;
$raleway: 'Raleway', sans-serif;

//Colors
$blue: #1a2852;
$blue-tp: rgba(26, 40, 82, 0.85);
$darkblue: #121932;
$peach: #f7cfc7;
$peach2: #f2a293;
$peach3: #ee765f;
$grad: linear-gradient(270deg, $blue, $darkblue);
$grad-rev: linear-gradient(90deg, $blue, $darkblue);

