@use 'var';
@use 'nav';
@use 'video';
@use 'news';
@use 'benefits';
@use 'stories';
@use 'jobs';
@use 'divider';
@use 'gallery';
@use 'footer';

* {
  font-family: var.$raleway;
}
body {
  overflow-x: hidden;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px,
);

$modal-xl: 1420px;

@import '../node_modules/bootstrap/scss/bootstrap';
